<nav aria-label="Main navigation">
  <ul>
    {{- $section := .Page.Section -}}
    {{- $file := "" -}}
    {{- with .File -}}
      {{- $file = .TranslationBaseName -}}
    {{- end -}}
    {{- range .Site.Menus.main.ByWeight -}}
      {{- $base := path.Base .URL -}}
      {{- $isActive := or (eq $section $base) (eq $file $base) (and (eq $section "") (eq $file "_index") (eq $base "/")) -}}
      <li>
        {{- if eq .URL "/" -}}
          <a class="home-link{{ if $isActive }} menuactive{{ end }}" href="{{ .URL }}" aria-label="{{ .Name }}">
            <img class="axe-icon" src="/axe.svg" alt="" aria-hidden="true">
          </a>
        {{- else -}}
          <a {{ if $isActive }}class="menuactive" {{ end }}href="{{ .URL }}"><span class="menuname">{{ .Name }}</span></a>
        {{- end -}}
      </li>
    {{- end -}}
  </ul>
</nav>
